on:
  workflow_call:

jobs:
  check-markdown:
    runs-on: ubuntu-latest
    steps:
      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1 # v3.3.0
        with:
          files: .
          config_file: .markdownlint.json
