name: Test Dependabot PRs

on:
  pull_request_target:
    types: [opened, synchronize]
    branches:
      - develop
  workflow_dispatch:

permissions:
  checks: write
  pull-requests: write

jobs:
  get-version:
    if: ${{ github.actor == 'dependabot[bot]' }}
    uses: ./.github/workflows/step-version.yml

  build:
    needs: [get-version]
    uses: ./.github/workflows/step-build.yml
    with:
      version: ${{ needs.get-version.outputs.version }}
      checkout-ref: ${{ github.event.pull_request.head.sha }}